.profileBlock, .friendsListBlock {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

.profileBlock {
    height: 250px;
}

.friendsListBlock img {
    width: 150px;
    height: 150px;
}

.friendsListBlock li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.friendsListBlock ul {
    border: 1px solid #ccc;
    width: 200px;
    padding: 5px;
    margin: 10px;
    float: left;
    
}


.friendsListBlock  { 
    overflow: auto;
    min-height: 600px;
}
    