<button>
    <div class="link" style="float: right;" onclick="logoutUser()"> Logout</div>

</button>

<!--doctype html-->
<html>
<head>
<meta charset="utf-8">
<title>Pizza Site</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="navigation-container">
<div class="navigation-content">
<div class="logo"><img src="images/logo.png"/></div>
<div class="menu">
<ul>
<li><a href="#">MENU</a></li>
<li><a href="#">BEST DEALS</a></li>
<li><a href="#">ONLINE ORDER</a></li>
</ul>
</div>
<div class="cart">
<img height="30px" src="images/cart.png">
<a href="#">Cart</a>
</div>
</div>
</div>
<!--------NAVIAGTION-END------------->
<div class="content-container">
<div class="whats-new">
<img src="images/WHATS NEW.png">
</div>
<div class="content">
<!--1------------------------------------>
<div class="first-row">
<div class="new">
<p>GRILLED CHICKEN</p>
<p>SUMMER PIZZA</p>
<button >HOT & SPICY</button>
</div>
<!------------------------------>
<div class="find">
<div class="search">
<p>FIND LOCATION</p>
<div class="text">
<input type="search" placeholder="Search Something Here"/>
<button>Search</button>
</div>
</div>
<!------------------------------->
<div class="order">
<a href="#"><font style="color:#F9A609;">ORDER</font> ONLINE</a>
</div>
</div>
</div>
<!--2------------------------------------->
<div class="second-row">
<div class="food-one">
<div class="name">
<p>VEGGIE</p>
<p>SPECIAL</p>
</div>
<div class="price"><button>$9<sup>99</sup></button></div>
</div>
<div class="food-two">
<div class="name">
<p>CHICKEN WRAP</p>
<p>SPECIAL</p>
</div>
<div class="price"><button>$5<sup>99</sup></button></div>
</div>
<div class="food-three">
<div class="name">
<p>ICE COFFE</p>
<p>SUMMER</p>
</div>
<div class="price"><button>$3<sup>99</sup></button></div>
</div>
</div>
<!--3------------------------------------->
<div class="third-row">
<div class="flavor">
<a href="#">
<p>FLAVOR MENU</p>
<p>VAGITABEL-HAND TOSED</p>
</a>
</div>
<div class="breakfast">
<a href="#">
<p>BREAKFAST MENU</p>
<p>PARANTHA ROLL</p>
</a>
</div>
</div>
</div>
</div>
<!------------------------------->
<div class="footer">
<div class="navigation-content">
<div class="logo"><img src="images/logo.png"/></div>
<div class="menu footer-menu">
<ul>
<li><a href="#">ABOUT US</a></li>
<li><a href="#">CONTACT US</a></li>
<li><a href="#">TEAM</a></li>
<li><a href="#">SUPPORT</a></li>
</ul>
</div>
<div class="social">
<ul>
<li><a href="#"><img src="images/facebook.png"></a></li>
<li><a href="#"><img src="images/twitter.png"></a></li>
<li><a href="#"><img src="images/youtube.png"></a></li>
</ul>
</div>
</div>
<!--NAVIGATION-END--------------->
<div class="copyright">
<p>Copyright 2020 Pizzaro Theme.Going-To Internet</p>
</div>