<!--home webpage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/project1.css">
    <title>Home page</title>
</head>
<body>
    <div class="div">
    <header>
        <img src="C:\Users\DELL\Desktop\Research Paper\copy_193068348 (1).png" id = "logo">
        <nav class="navigation">
            <ul class = "list">
                <li><a href="webpage1.html">Home</a></li>
                <li><a href="webpage6.html">Restaurants</a></li>
                <li><a href="webpage5.html">My Orders</a></li>
                <li><a href="webpage4.html">Contact Us</a></li>
                
            </ul>
            <button class ="btn">Login</button>
        </nav>
    </header>
    </div> 
    <div class = "welcome">
        <div>
            <h2>Welcome to Eatmore</h2>
        </div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, inventore hic cumque, 
        fugiat explicabo necessitatibus animi mollitia ipsum harum .</p></div>
        
    </div>
    <div class="container">
    <div class = "container1">
        <div><img src="C:\Users\DELL\Desktop\Research Paper\Screenshot (76).png"></div>
        <div><h3>Food Ordering</h3></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae veritatis ipsa magni dolor,
            eos iure iste labore provident dolore quas asperiores nemo quod laborum saepe voluptatum perspiciatis vel molestiae necessitatibus.
            Assumenda voluptas, expedita vel rem inventore nihil qui repellat?</p></div>
            
    </div> 
    <div class = "container1">
        <div><img src="C:\Users\DELL\Desktop\Research Paper\salad-gc6d01fc0b_1920.jpg"></div>
        <div><h3>Catering</h3></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae veritatis ipsa magni dolor,
            eos iure iste labore provident dolore quas asperiores nemo quod laborum saepe voluptatum perspiciatis vel molestiae necessitatibus.
            Assumenda voluptas, expedita vel rem inventore nihil qui repellat?</p></div>
    </div> 
    <div class = "container1">
        <div><img src="C:\Users\DELL\Desktop\Research Paper\scooter-gb5e1f83e5_1920.jpg"></div>
        <div><h3>Fast Delivery</h3></div>
        <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae veritatis ipsa magni dolor,
            eos iure iste labore provident dolore quas asperiores nemo quod laborum saepe voluptatum perspiciatis vel molestiae necessitatibus.
            Assumenda voluptas, expedita vel rem inventore nihil qui repellat?</p></div>
    </div> 
</div>
<div>
    <button id="order">Order Now</button>
</div>
   
</body>
</html>